DATABASE_URL="mysql://user:senha@edumysql.acesso.rj.senac.br:3306/20261_prjint5_viniciuscosta"
DB_USER="user"
DB_PASSWORD="senha"
DB_HOST="edumysql.acesso.rj.senac.br"
DB_PORT=3306
DB_NAME="20261_prjint5_viniciuscosta"
JWT_SECRET="token_validado"
